
body {
  padding-top: 0;
  margin-top: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.history-container {
  flex: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.contact-container {
  flex: 1;
  max-width: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  margin-top: 0;
  background-attachment: fixed;
  height: 100vh;
}

.grey-block {
  background-color: lightsteelblue;
  height: 200px;
}
.header-container {
  display: flex;
}

.avatar {
  margin: 1rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.avatar header{
  margin-top: 40px;
}

.search {
  margin-bottom: 10px;
  width: 90%;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  margin-top: 2em;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.contact-row {
  display: flex;
  height: 100px;
  flex-direction: row;
  border-bottom: 1px solid grey;
}

.users-info {
  flex: 4;
  display: flex;
  flex-direction: column;
  /*gap: -30px;*/
  /*overflow: hidden;*/
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.userInfo paragraph {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.avatar contact {
  flex: 1;
}

.users-date {
  display: flex;
  margin-right: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 0;

}

.users-date h3 {
  flex-grow: 2;
}

.header-chat {
  color: steelblue;
  background-color: white;
  margin-left: 0.5em;
}

.contact-list {
  overflow-y: scroll;
  flex-grow: 2;
}

.header-contact {
  position: fixed;
  margin-top:0;
  padding-top: 0;
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightslategrey;
  border-left: 1px solid lightslategrey;
  height: 100px;
  background-color: lightsteelblue;

}

.messaging-history-list {
  margin-top: 60px;
  overflow-y: scroll;
  flex-grow: 2;
  scroll-behavior: revert;
}

.main-message-input {
  background-color: lightsteelblue;
  min-height: 120px;
  max-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid lightslategrey;
}


.message-input {
  width: 700px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
}

button {
  height: 40px;
  background-color: white;
  color: lightsteelblue;
  border-radius: 20px;
  width: 100px;
}

.message-template-row {
  margin: 5px;
}

.my-message-template-flex {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}
.my-message-template-flex p {
  display: flex;
  background-color: grey;
  margin-top: 25px;
  padding: 5px;
  height: 35px;
  color: white;
  border-radius: 20px;
  min-width:30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;

}

.contact-message-template-flex {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-top: 0;
}
.contact-message-template-flex p {
  display: flex;
  background-color: midnightblue;
  margin-top: 25px;
  padding: 5px;
  height: 35px;
  color: white;
  border-radius: 20px;
  min-width:30px;
  justify-content: center;
  align-items: center;
}



.date-message {
  display: flex;
  justify-content: flex-end;
}
