body {
  padding-top: 0;
  margin-top: 0;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.history-container {
  flex: 2;
}

.context-container {
  flex: 1;
}

.main-container {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  margin-top: 0;
  padding-left: 20px;

}

.grey-block {
  background-color: lightgray;
  height: 200px;
}

.avatar {
  margin: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.search-button {
  width: 50px;
  height: 50px;
}